{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card mt-5">
    <div class="card-body">
        <h4 class="card-title mb-2">Login</h4>
        <div class="row ml-1 mt-4 mb-4">

            <form class="form" action="{% url 'login' %}" method="post">
                {% csrf_token %}

                {% if form.errors %}
                <!-- <div class="alert alert-block alert-danger "> <ul> <li>there are errors</li> </ul> </div> -->
                {% endif %}
                {% if next %}
                    <div class="alert alert-block alert-danger">Please login before accessing that page</div>
                {% endif %}

                {{ form|crispy }}

                <input type="submit" class="btn btn-primary float-left" value="Login">
                <input type="hidden" value="{{ next }}" name="next" >
            </form>
        </div>

        <span class="card-text">don't have an account Register <a href="{% url 'main:register' %}">here</a></p>
    </div>
</div>
{% endblock %}