{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card mt-5">
    <div class="card-body">
        <h4 class="card-title">Edit Customer </h4>

        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}

            <div id="formset-wrapper">
                <div class="items" id="formsets">
                    {{ formset|crispy }}
                </div>
                <button type="button" class="btn btn-primary btn-sm mb-2" id="add-item">Add row</button>
            </div>
            <button type="submit" class="btn btn-primary" >Save</button>
            <a href="{% url 'main:customers' %}" class="btn btn-dark" >Back</a>        
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function(){
        //get html of first formset
        $("#formset-wrapper .items .multiField:last .form-group:last").remove();
        var formhtml = $("#formset-wrapper .items .multiField:last").html();
        var initiali = $('#formset-wrapper .items .multiField').length-1;

        $('#formset-wrapper .items .multiField select option:selected').each(function(){
            if($(this).val() != ''){
                $('#formset-wrapper .items .multiField:last select option[value="'+$(this).val() + '"]').remove();
            }
        });

        $(document).on('click','#add-item',function(){
            console.log($('#formset-wrapper .items .multiField:last select option:selected').val());
            if($('#formset-wrapper .items .multiField:last select option:selected').val() !== ''){
                var rr = $('#formset-wrapper .items .multiField').length;
                var temphtml = formhtml.split(initiali).join(rr);
                $("#formsets").append('<div class="multiField">' + temphtml +'</div>');
                $("#id_customerservice_set-TOTAL_FORMS").val(parseInt($("#id_customerservice_set-TOTAL_FORMS").val())+1);
                $('#formset-wrapper .items .multiField select option:selected').each(function(){
                    if($(this).val() != ''){
                        $('#formset-wrapper .items .multiField:last select option[value="'+$(this).val() + '"]').remove();
                    }
                });
            }

        });
    });
</script>    
{% endblock %}
