{% extends 'main/base.html' %}

{% block content %}
<div class="card mt-5">
    <div class="card-body">
        <h4 class="card-title">Customers</h4>
        <div class="row col-3">
            <button class="btn btn-info mb-3 text-left" type="button" data-toggle="collapse"
                data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"> Add Customer
            </button>
        </div>
        <div class="row ml-1 mb-2">
            <form class="form collapse" id="collapseExample" action="{% url 'main:customeradd'%}" method="post">
                {% csrf_token %}
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

                <div class="form-group">
                    <label for="name" class="form-label">Customer Name</label>
                    <input type="text" name="name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="phonenumber" class="form-label">Phone Number</label>
                    <input type="text" name="phonenumber" class="form-control">
                </div>

                <input type="submit" class="btn btn-primary float-left" value="Add">
            </form>
        </div>
        
        <table id="datatable" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>  
                    <th scope="col">Name</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% if latest_customer %}
                    {% for cc in latest_customer %}
                    <tr>
                        <td scope="row">{{  forloop.counter }}</td>
                        <td><a href="{% url 'main:customers' cc.id %}">{{ cc.name }}</a></td>
                        <td>{{ cc.phonenumber }}</td>
                        <td>
                            <a style="float: right;margin:0 10px" href="{% url 'main:customerdelete' cc.id %}"> Delete </a>
                            <a style="float: right;margin:0 10px" href="{% url 'main:customeredit' cc.id %}"> Edit </a>
                            <a href="#" class="serv-btn"  data-url="{% url 'main:customerservices' cc.id %}" style="float: right;margin:0 10px" > Active Services </a>
                        </td>

                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
       
    </div>
</div>

{% endblock  %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.js" integrity="sha256-tcqPYPyxU+Fsv5sVdvnxLYJ7Jq9wWpi4twZbtZ0ubY8=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
        $("#datatable").DataTable();

        $(document).on('click','.serv-btn',function(e){
            e.preventDefault();
            var url = $(this).data('url');
            $.ajax({
                url: url,
                method: "GET",
                success : function(data){
                    bootbox.alert({
                        title: "Customer Active Services",
                        message: data,
                    });
                }
            });
        });
    });
</script>

{% endblock  %}