{% extends 'main/base.html' %}

{% block content %}
<div class="card mt-5">
    <div class="card-body">
        <h4 class="card-title">Services</h4>
        <div class="row col-3">
            <button class="btn btn-info mb-3 text-left" type="button" data-toggle="collapse"
                data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"> Add Service
            </button>
        </div>
        <div class="row ml-1 mb-2">
            <form class="form collapse" id="collapseExample" action="{% url 'main:serviceadd'%}" method="post">
                {% csrf_token %}
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

                <div class="form-group">
                    <label for="name" class="form-label">Service Name</label>
                    <input type="text" name="name" class="form-control">
                </div>

                <input type="submit" class="btn btn-primary float-left" value="Add">
            </form>
        </div>
        <table id="datatable" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% if latest_service %}
                {% for cc in latest_service %}
                <tr>
                    <td scope="row">{{  forloop.counter }}</td>
                    <td><a href="{% url 'main:services' cc.id %}">{{ cc.name }}</a></td>
                    <td><a style="float: right;" href="{% url 'main:servicedelete' cc.id %}"> Delete </a></td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>

    </div>
</div>

{% endblock  %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $("#datatable").DataTable();
    });
</script>

{% endblock  %}